/* custom-swal.css */
.my-swal-title {
  font-family: "Vazir", sans-serif;
}

.my-swal-content {
  font-family: "Vazir", sans-serif;
}

.my-swal-confirm {
  font-family: "Vazir", sans-serif;
}

.my-swal-cancel {
  font-family: "Vazir", sans-serif;
}
